################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SQLGenerator/SQLGenerator/obj/Debug/SQLGenerator.csproj.AssemblyReference.cache
/SQLGenerator/SQLGenerator/obj/Release/SQLGenerator.csproj.AssemblyReference.cache
/SQLGenerator/.vs/SQLGenerator/v17
/SQLGenerator/.vs/SQLGenerator/FileContentIndex
/SQLGenerator/SQLGenerator/obj/Debug
/SQLGenerator/SQLGenerator/bin/Debug/SQLGenerator.pdb
/SQLGenerator/SQLGenerator/bin/Debug/SQLGenerator.exe
/SQLGenerator/SQLGenerator/bin/Debug
